
	<div class="row">
		<% @order_items.each do |order_item| %>
	  <div class="col-12" style="margin-top: 15px;">
          <div class="row" >
            <div class="col-3" style="padding: 10px;">
              <% if order_item.product.picture == nil %>
              <% else %>
              <div style="text-align: center;">
                <%= image_tag order_item.product.picture.image.variant(resize_to_limit: [200,200]) %>
              </div>
                
              <% end %>
            </div>
            <div class="col-6">
              <h5><%= order_item.product.productName %></h5>
              <ul>
                <li><%= order_item.product.memory %></li>
                <li><%= order_item.product.displaySize %></li>
                <li><%= order_item.product.camaras %></li>
                <li><%= order_item.product.battery %></li>
                <li><%= order_item.product.processor %></li>
              </ul>
            </div>
            <div class="col-3"> 
            	<p> <b>price (for<%= order_item.quantity.to_s(:delimited) %> pices):Rs.<%= order_item.totalPrice.to_s(:delimited) %> </b></p>
            </div>
          </div>
        </div>
		<% end %>
	</div>
	 
</div>
<%= link_to "back", order_items_path%>


		