

<h2>cart</h2>


<div>
	<div class="row">
		<% @cart_items.each do |cart_item| %>
		<div class="col-3">

		<p><%= cart_item.product.productName %></p>
		<p>Rs.<%= cart_item.product.productPrice %></p>

		<%= link_to "-", decrement_cart_item_path(cart_item.id), :class => "button",data: { "turbo-method": :post }  %>
		<span><p><%= cart_item.quantity %></p></span>
		<%= link_to "+", increment_cart_item_path(cart_item.id), :class => "button",data: { "turbo-method": :post }  %>
	
		<%= link_to "Remove from cart", cart_item_path(id:cart_item.id), :confirm => 'Are you sure?', :class => "button",data: { "turbo-method": :delete }  %>

			
		</div>
		  <% end %>

	</div>

  <% if @cart_items !=[] %>
  <%= link_to "place Order", 'http://localhost:3000/order_items',  data: { "turbo-method": :post }  %>
  <% end %>

	
</div>


<%= link_to "back", products_path%>