<div>
	<h2>Ordered products</h2>
	
	<div>
		<table>
			<tr>
				<th>order id</th>
				<th>total products</th>
				<th>total price</th>
				<th>check order</th>
				<th>cancel order</th>
			</tr>
			<% @orders.each do |order| %>
			<tr>
				
					<tb> <%= order.id%></tb>
					<td> <%= order.no_OfItems %></td>
					<td> Rs.<%= order.totalPrice %></td>
					<td> <%= link_to "check order", order_path(id:order.id) %></td>
					<td> <%= link_to "cancel order", order_item_path(id:order.id), data: { "turbo-method": :delete }  %></td>

			</tr>
			<% end %>
			

		</table>
		<%= link_to "back", products_path%>
	</div>
</div>
