<h4>search for new produts</h4>

<%= form_with url: products_search_products_path, method: :get do |form| %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>
 
<div>
	<% @products.each do |product| %>
	<div>
		<h3><%= product.productName %></h3>
		<h4>Rs.<%= product.productPrize %></h4>
		<%= link_to "Add to cart" %>
 	</div>

      
  <% end %>
	
</div>
<div>
	<h2>cart</h2>
</div>
  