<h4>search for new produts</h4>

<%= form_with url: "products/search", method: :get do |form| %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>
 
<div>
	<% @products.each do |product| %>
	<div>
		<h3><%= product.productName %></h3>
		<h4>Rs.<%= product.productPrize %></h4>
		<% if product.saveProduct %>
		<button> Add to cart</button>
		<% end %>
	</div>

      
  <% end %>
	
</div>
  